.account-page-container{
    background-image: url("../../assets/bg.png");
    min-height: 92vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./../../assets/bg.png") no-repeat center center/cover;
}

.account-container {
    margin: 50px auto;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto 20px;
}

.account-id {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 40px;
}

.account-balance {
    font-size: 1rem;
    color: #666;
}

.disconnect-button{
  margin-top: 20px;
  cursor: pointer;
  background-color: #0077b6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/* display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 15px; */